.DS_Store
*.pyc
*$py.class
*~
dist/
*.egg-info
*.egg
*.eggs/
*.egg/
*.cache/
build/
.build/
_build/
pip-log.txt
.directory
erl_crash.dump
*.db
db.sqlite3
Documentation/
.tox/
.idea/
.coverage
.ve*
cover/
coverage.*
htmlcov/
.vagrant/
