include README.md
include MANIFEST.in
include setup.cfg
include setup.py
recursive-include airflow-prometheus-exporter-plugin/ *

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * .*.sw[a-z]
